

/* Custom Properties */

:root {
  --ff-primary: "Roboto", sans-serif;;
  --ff-secondary: "Nunito", sans-serif;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-accent-light: #F9F5E3;  
  --clr-dark: #504b4b;
  --clr-black:#000;
  --clr-accent: #2b2d42;
  --clr-red:#CA2E55;
  --clr-green:#62A87C;
  --clr-background: #F7F7F7;
 

  --fs-h1: 2rem;
  --fs-h2: 1.25rem;
  --fs-h3: 0.9375rem;
  --fs-h4: 0.675rem;
  --fs-body: 1rem;
  --fs-nav: 0.9375rem;;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}


h1,
h2,
h3,
h4,
ul {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
p,
footer,
.skills__list,
a,
.accordion__block {
  font-family: "Nunito", sans-serif;
}
html {
  scroll-behavior: smooth;
}




body {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  margin: 0 auto;
  background-color: var(--clr-background);
}
.nav-top {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  opacity: 90%;
  justify-content: flex-end;
  background-color: var(--clr-accent);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.1s;
  z-index: 1;
}
.nav-top__ul {
  margin-right: 1.5em;

}
.nav-top__li {
  display: inline-block;
  font-size: 0.8em;
  font-weight: bolder;
  margin: 0.5em;
 
}
.nav-top__link{
  color: var(--clr-light);
  text-decoration: none;

}
.nav-top__link:hover{
  color: var(--clr-accent-light);
  text-decoration: underline;
}
.nav-top__li:visited {
  color: var(--clr-light);
}




.header {
  margin: 4em auto 2em auto ;
  padding: 0 2em;
  max-width: 900px;

}

.header__h1 {
  font-size: 1.6em;
  padding: 1rem 0 0 0;
  margin: 0;
}
.header__h1--accent {
  font-size: 1.2em;
  color: var(--clr-green);
  font-weight: bolder;
}
.skills {
  font-size: 0.75em;
  margin-top: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}
.skills__h3 {
  margin-bottom: 0;
  text-align: end;
  font-size: 1.2em;
}
.skills__list {
  margin-top: 0.2em;
  margin-bottom: 20px;
  text-align: end;
  font-size: 1em;
}

/*SPAN*/
.skills__list--label {
  border: solid 2px black;
  background-color: var(--clr-red);
  color: var(--clr-light);
  font-size: 1em;
  padding: 0.3em 0.5em;
  border-radius: 6px;
  margin: 0.4em 0 0.3em 0.5em;
  display: inline-block;
}

.about {
  background-color: var(--clr-accent) ;
  color: var(--clr-light);
  margin-top: 1em;
  text-align: left;
  opacity: 90%;
  font-size: 0.8em;
  line-height: 1.5;
  padding: 1rem 3rem;

}
.about--container,
.contact--container {
  max-width: 900px;
  margin: auto;
}

/* PROJECT SECTION*/

.projects-section {
  margin:  0;
  padding: 3em 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-accent-light);
}
.projects-section__title {
  font-size: 1.5em;
  margin-bottom: 0.2em;
}
.project-section__container {
  margin-top: 0;
}
#projects-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  margin: 1.5em 1em;
  padding: 1.5em 1.5em;
  width: auto;
  border: solid 3px var(--clr-accent);
  border-radius: 4px;
  max-width: 500px;
  height: fit-content;
  background-color: var(--clr-light) ;
  
}
.project:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.project__title {
  font-size: 1.5em;
}

.project__description {
  font-size: 0.8em;
}

.project__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*PROJECTS BUTTONS*/

.project--buttons {
  margin-top: 1em;
  display: flex;
  justify-content: flex-start;
}
.project--buttons a:link,
.project--buttons a:visited,
.project--buttons a:hover {
  text-decoration: none;
  color: var(--clr-accent-light);
}
.btn-small {
  padding: 0.5em 1em;
  margin-right: 0.8em;
  font-size: 0.8em;
  text-align: center;

  border-radius: 3px;
  font-weight: bold;
}
.live-button {
  background-color: var(--clr-green);
}
.live-button:hover {
  background-color: var(--clr-accent);
}
.code-button {
  background-color: var(--clr-red);
}
.code-button:hover {
  background-color: var(--clr-accent);
}

footer {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: var(--clr-black);
  color: var(--clr-background);
  text-align: center;
  padding: 1em;
}

/*ACCORDION*/

.accordion .accordion__block {
  margin-bottom: 1em;
  border: solid 3px var(--clr-accent);
 
}
.accordion .accordion__title {
  font-size: 0.8em;
  font-weight: bold;
  padding: 1em;
}

.accordion__title:before {
  content: "\25B6";
  font-size: 1em;
  font-weight: bolder;
  margin-right: 0.5em;
  color: var(--clr-accent);
}

.accordion .accordion__text {
  font-size: 0.7em;
  padding: 0 1em;
  background-color: white;
  display: none;
  overflow: auto;
}

.accordion__title:hover {
  background-color: var(--clr-accent-light);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.accordion_title--active {
  background-color: var(--clr-accent-light);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.accordion_title--active:before {
  content: "\25BC";
  font-size: 1em;
  font-weight: bolder;
  margin-right: 0.5em;
  color: var(--clr-accent);
}

/*DESKTOP*/

@media (min-width: 768px) {
  .nav-top {
  }
  .nav-top__li {
    font-size: 1.2em;
    padding: 0.3em;
  }
  .header {
    margin-top: 6em;
    padding: 0 5em;
  }

  .header__h1 {
    font-size: 3em;
    margin: 0;
  }

  .skills__h3 {
    margin-top: 1em;
    text-align: end;
  }
  .skills__list--label {
    font-size: 1.3em;
  }
  .about {
    padding: 2em 6em;
    font-size: 1em;
  }

  .projectssection {
    margin: 2em 0;
    padding: 0 3em;
  }
  .projects-section__title {
    font-size: 3em;
  }

  .project__title {
    font-size: 3em;
  }
  .project__description {
    font-size: 1.2em;
  }

  .accordion .accordion__title {
    font-size: 1.2em;
  }
  .accordion .accordion__text {
    font-size: 1em;
  }
  .project-buttons {
    margin-top: 2em;
  }

  .btn-small {
    padding: 0.8em 1.5em;
    font-size: 1em;
  }
}


/*REVEAL ANIMATION*/

.reveal{
  position: relative;
  transform: translateY(130px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}